
.header{
   &__burguer{ 
        position: fixed;
        background-image: url(../images/menu.png);
        background-repeat: no-repeat;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 20px;
        width: 40px;
        height: 10px;
   }
   
    @media all and (min-width: 768px){
    
        &__burguer{
            background-image: url(../images/menu3.png);
            
            padding-top: 35px;
            width: 45px;
            position: fixed;
            
        }

     }
     @media all and (min-width: 1280px){
    
          &__burguer{
              background-image: url(../images/menu3.png);
              background-size: 60px;
              
              height: 60px;
              width: 60px;
              position: fixed;
              
          }
  
       }
}       
.nav{
    display: none;
    
    }
