<footer class="footer">
    <a class="footer__arrow" href="#"><img src="/images/ico-arrow.svg" alt=""></a>
    
    <nav class="footer__nav1">
        <ul class="footer__nav--menu">
            <li><a href="https://adalab.es/">ARTICLES</a></li>
            <li><a href="https://adalab.es/">BOOKS</a></li>
            <li><a href="https://adalab.es/">EVENTS</a></li>
            <li><a href="https://adalab.es/">REASONS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
            </ul>
        </nav>
   
    
    <nav class="footer__nav2">
        <ul class="footer__nav--menu">
            <li><a href="https://adalab.es/">TWITTER</a></li>
                <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">MASTODON.SOCIAL</a></li>
        </ul>
    </nav>
   <div class="footer__copy">
        <span>©2024</span>
        <span>we 🩷 components</span>
    </div>
</footer>