<header class="header">
  <a class="header__burguer" href="https://adalab.es/">
    <!-- <img class="header__burguer--mobile" src="../images/menu.png" alt="menu hamburguesa">
    <img class="header__burguer--tablet" src="../images/menu3.png" alt="menu hamburguesa">
    <img class="header__burguer--desktop" src="../images/ico-menu-pc.png" alt="menu hamburguesa"> -->
  </a>
  <nav class="nav" >
    <ul class="nav__menu">
      <li class="nav__menu--link"><a href="#">item1</a></li>
      <li class="nav__menu--link"><a href="#">item2</a></li>
    </ul>
  </nav>

</header>