<section class="section3">
    <h2 class="section3__title">3 Reasons To Purchase</h2>
    <div class="section3__articles">
        <article class="section3__article1">
            <h3 class="section3__article1--h3">Ut sed metus</h3>
            <p class="section3__article1--text">Lorem ipsum dolor sit amet, consectetur.</p>
        </article>
        <article class="section3__article2">
            <h3 class="section3__article2--h3">Curabitur ac erat</h3>
            <p class="section3__article2--text">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="section3__article3">
            <h3 class="section3__article3--h3">Morbi dictum</h3>
            <p class="section3__article3--text">Aliquam in dolor et dolor tincidunt.</p>
        </article>
    </div>
    <div class="section3__botton">
        <a class="section3__botton--reasons" href="#">More reasons</a>
    </div>  
</section>